* {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: Arial;
}

.centered {
	text-align: center;
}

.maincont {
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}

.lcol,
.rcol {
	display: inline;
	float: left;
	position: relative;
}

.lcol {
	width: 60%;
}

.rcol {
	width: 40%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}


.point {
	fill: rgb(222, 173, 230);
}

.stroke {
	stroke: rgb(0, 0, 0);
	stroke-width: 4px;
}

button {
	margin: 10px;
}

.bar {
	fill: darkred;
}